@using BidHeroApp.InputModels;

<!-- Modal -->
<div class="modal fade" id="addCategory" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addCategoryLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="add-category-form">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCategoryLabel">Add Category</h5>
                    <button id="addCategoryClose" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="idInput" class="form-control" @bind="Input.Id">
                    <div class="mb-3">
                        <label for="nameInput" class="form-label">Name</label>
                        <input type="text" id="nameInput" class="form-control" placeholder="Please enter name." @bind="Input.Name">
                    </div>
                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="isActiveCheck" @bind="Input.IsActive">
                            <label class="form-check-label" for="isActiveCheck">
                                Is Active
                            </label>
                        </div>
                    </div>
                </div>
                @if (IsParentComponentProcessing)
                {
                    <div class="modal-footer">
                        <button type="button" disabled class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" disabled class="btn btn-primary">Processing</button>
                    </div>
                }
                else
                {
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" @onclick="()=>OnSave()">Save</button>
                    </div>
                }
            </form>
        </div>
    </div>
</div>

@code
{
    public CategoryInputModel Input { get; set; } = new();

    [Parameter]
    public bool IsParentComponentProcessing { get; set; }

    [Parameter]
    public EventCallback<CategoryInputModel> Callback { get; set; }

    private async Task OnSave()
    {
        await Callback.InvokeAsync(Input);
    }

}