@page "/auctions"
@using BidHeroApp.Components.Auction;
@using BidHeroApp.Components.Category;
@using BidHeroApp.Constants;
@using BidHeroApp.Services.Contracts;
@using BidHeroApp.ViewModels;
@using BidHeroApp.InputModels;
@using BidHeroApp.Components.Item;
@using BidHeroApp.Components;
@using Microsoft.AspNetCore.SignalR.Client;
@using System.Security.Claims;
@using Microsoft.AspNetCore.Mvc.Rendering;
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation
@inject ICategoryService CategoryService
@inject IAuctionService AuctionService
@inject IJSRuntime JSRuntime

<AuthorizeView Roles="@Role.User" Context="innerContext">
    <Authorized>
        <PageTitle>Items</PageTitle>

        <h1>Items</h1>

        @if (_items == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <AddBid IsParentComponentProcessing="IsLoading" Item="_item" Callback="AddBid_Click"></AddBid>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">
                        <ListGroup Categories="_categories" SelectCategory="SelectCategory"></ListGroup>
                    </div>
                    <div class="col-md-8">
                        <div class="container-fluid">
                            <div class="row">
                                @if (_items != null && _items.Any())
                                {
                                    @foreach (var item in _items)
                                    {
                                        <div class="col-md-4">
                                            <div class="card m-2" style="width: 15rem;">
                                                <img src="\@item.Image" class="card-img-top" alt="@item.Item.Text">
                                                <div class="card-body">
                                                    <h5 class="card-title">@item.Item.Text</h5>
                                                    <p class="card-text">@item.Points</p>
                                                    <button type="button" class="btn btn-primary" @onclick="()=>AddBid(item)">Place Bid</button>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </Authorized>
    <NotAuthorized>
        <AuthorizeView>
            <Authorized>
                <Forbidden></Forbidden>
            </Authorized>
            <NotAuthorized>
                <RedirectToLogin />
            </NotAuthorized>
        </AuthorizeView>        
    </NotAuthorized>
</AuthorizeView>

@code {
    public bool IsLoading { get; set; } = false;
    public BidInputModel Input { get; set; } = new();
    private IList<SelectListItem>? _categories;
    private IList<AuctionItemViewModel>? _items;
    private int _categoryId = 0;
    private int _itemId = 0;
    private AuctionItemViewModel? _item;
    private HubConnection? _hubConnection;

    protected override async Task OnInitializedAsync()
    {
        IsLoading = true;
        await LoadListAsync();
        _categories = await CategoryService.AsSelectListAsync();
        IsLoading = false;
    }

    private async Task LoadListAsync()
    {
        _items = await AuctionService.ListAsync(null);

        _hubConnection = new HubConnectionBuilder()
        .WithUrl(Navigation.ToAbsoluteUri("/auctionhub"))
        .Build();

        _hubConnection.On<List<AuctionItemViewModel>>("RefreshAuctions", items =>
            {
                _items = items;
                InvokeAsync(StateHasChanged);
            });

        await _hubConnection.StartAsync();
    }

    public async Task SelectCategory(string categoryId)
    {
        _categoryId = int.Parse(categoryId);
        _items = await AuctionService.ListAsync(_categoryId);
    }

    private void AddBid(AuctionItemViewModel item)
    {
        _item = item;
        Input = new BidInputModel();
        JSRuntime.InvokeVoidAsync("ShowAddBidModal");
    }

    public async Task AddBid_Click(BidInputModel addModel)
    {
        IsLoading = true;
        try
        {
            if (addModel != null)
            {
                var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
                var user = authState.User;
                string userId = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier)?.Value;

                addModel.SetUserId(userId);

                await AuctionService.AddBidAsync(addModel);
                await LoadListAsync();
                await JSRuntime.InvokeVoidAsync("HideAddBidModal");
            }
        }
        catch (Exception ex)
        {
            await JSRuntime.InvokeVoidAsync("DisplayErrorMessage", ex.Message);
        }
        IsLoading = false;
    }

}
