@page "/Forbidden"

<PageTitle>Forbidden</PageTitle>

<div class="main">
    <div class="content px-4">
        <h1 class="text-danger">Error.</h1>
        <h2 class="text-danger">Forbidden request. You do not have sufficient role permissions.</h2>
    </div>
</div>

@code {

}
